@font-face {
  font-family: "PT Sans";
  src: url("..//fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}


html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
  color: #000000;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}

.main-container {
  flex-grow: 1;

}

.menu-main,
.advantages-list,
.services-list,
.navigation-user,
.catalog-filter-list,
.hostel-card-list,
.pagination,
.breadcrumps-item,
.breadcrumps-next,
.footer-social-list,
.advantages-list1 {
  list-style-type: none;
}

.main-header-logo,
.navigation-link,
.button,
.finding,
.footer-social-button,
.telephone,
.htmlacademy,
.modal-send-button,
.breadcrumps-link,
.tic,
.hostel-card-link,
.button,
.pagination-link {
  text-decoration: none;
}

.main-header,
.catalog-header {
  background-color: #FFFFFF;
  color: #000000;
  z-index: 1;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0;

}

.main-header-logo {
  display: block;
  margin-bottom: -10px;
  width: 138px;
  margin-right: 30px;
  margin-left: 70px;
  cursor: pointer;
}

.menu-main {
  margin: 0;
  padding: 0;
  min-width: 339px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.navigation-link {
  display: flex;
  flex-wrap: wrap;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  padding: 20px 16px;
  cursor: pointer;
  position: relative;
}

.navigation-item {
  cursor: pointer;
  position: relative;
  max-width: 160px;

}

.navigation-link-current::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 68px;
  bottom: -1px;
  background-color: #756257;
}

.navigation-link-hotels::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 93px;
  bottom: 0;
  background-color: #756257;
}

.navigation-user {
  min-width: 268px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin-left: auto;
  margin-right: 70px;
  flex-wrap: wrap;

}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 1px 0px 0px 1px;
}

.navigation-search .navigation-link {
  padding: 22px 12px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.navigation-like .navigation-link {
  padding: 22px 12px;
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
}

.navigation-like::after {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 11px;
  z-index: 1;
  content: "12";
  color: white;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background: #7DB54F;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome {
  background-color: aqua;
  background-image: url("../images/index-background.jpg"), url("../images/Vectorw.svg");
  background-repeat: no-repeat;
  background-size: cover;
  Width: 100%;
  height: 485px;
  position: relative;
}

.logo {
  display: block;
  padding: 51px 371px 82px;

}

.welcome::before {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  content: "";
  background-image: url(../images/welcomvector.svg);
  background-position: bottom;
  background-repeat: no-repeat;
}

.info {
  background: #FFFFFF;
  text-align: center;
  margin: 69px 0 90px 0;

}


.info-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 289px 0 291px;

}

.info-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 651px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}

.sedona {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.advantages-item-img {
  max-width: 800px;
  object-fit: cover;
}

.advantages-list {
  min-height: 384px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
}

.advantages-item {
  width: 230px;
  text-align: center;
  padding: 92px 85px;
  position: relative;
}

.town {
  padding: 103px 85px 85px;
}

.current.advantages-title::before {
  background-image: url(../images/line.svg);
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  top: 179px;
  left: 170px;
  fill: rgba(255, 255, 255, 0.3);
}

.advantages-title::before {
  background-image: url(../images/line.svg);
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  fill: rgba(0, 0, 0, 0.3);
  bottom: 0;
  top: 189px;
  left: 170px;
}

.advantages-item:nth-child(2n) {
  background: rgba(131, 179, 211, 0.2);
}

.sedona .advantages-item {
  background: #82B3D3;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 172px;
  margin: 0 auto;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 62px;
}

.devil {
  height: 384px;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 1200px;
  color: #FFFFFF;
}

.devil .advantages-item {
  background: #82B3D3;
}

.sedona .line {
  fill: rgba(255, 255, 255, 0.3);
}

.devil .line {
  fill: rgba(255, 255, 255, 0.3);
}

.services-list {
  min-height: 384px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
}

.services-item {
  width: 400px;
  min-height: 384px;
  padding: 80px 85px 81px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.line {
  fill: rgba(0, 0, 0, 0.3);
  margin: 30px 85px 0;
}

.background-house::before {
  background-image: url(../images/house.svg);
  background-repeat: no-repeat;
  content: "";
  width: 75px;
  height: 72px;
  align-self: center;
}

.background-food::before {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  content: "";
  width: 74px;
  height: 70px;
  align-self: center;
}

.background-gift::before {
  background-image: url(../images/gift.svg);
  background-repeat: no-repeat;
  content: "";
  width: 64px;
  height: 76px;
  align-self: center;
}


.services-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}

.services-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-top: 30px;
}

.services-description {
  color: #333333;
  margin: 0;
  text-align: center;
  margin-top: 27px;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 95px 304px;
  background-color: #FFFFFF;
  text-align: center;
}

.booking-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.booking-date {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-top: 20px
}

.finding {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
  border-radius: 4px;
  margin-top: 54px;
  padding: 8px 50px;
}

.finding:hover {
  background: #615048;
}

.finding:focus {
  background: #615048;
}

.finding:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
}

.breadcrumps-list {
  display: flex;
  gap: 10px;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

.breadcrumps-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.gohome {
  fill: white;
}

.gohome:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.gohome:focus {
  fill: white;
}

.gohome:active {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumps-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumps-link:focus {
  color: white;
}

.breadcrumps-link:active {
  color: rgba(255, 255, 255, 0.3);

}

.finded {
  display: flex;
  width: 1060px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 47px 70px 39px;
  flex-wrap: wrap;
}

.selection {
  appearance: none;
  background: url(../images/select.svg) no-repeat;
  background-position: top 22px left 258px;
  outline: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 35px;
}

.box[type="checkbox"]:checked + .control-mark {
  position: absolute;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.box[type="checkbox"]:hover + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.box[type="checkbox"]:focus + .control-mark {
  box-shadow: 0 0 0 3px #83B3D3;
}

.box[type="checkbox"]:active + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #FFFFFF;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.control-round {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.radio-control[type="radio"]:hover + .control-round {
  background-color: rgba(255, 255, 255, 0.6);
}

.radio-control[type="radio"]:focus + .control-round {
  box-shadow: 0 0 0 3px #83B3D3;
}

.radio-control[type="radio"]:active + .control-round {
  background-color: rgba(255, 255, 255, 0.3);
}

.radio-control[type="radio"]:checked + .control-round::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #3F5E72;
  top: 5px;
  left: 5px;
}

.products-count {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  min-width: 338px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-left: auto;
  margin-right: 68px;
  width: 296px;
  padding: 14px 20px 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled,
.select-control:disabled:hover {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.tic {
  width: 46px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 14px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 7px;
  flex-wrap: wrap;
}

.tic:last-child {
  margin: 0;
}

.tic:hover {
  border: 2px solid #000000;
}

.tic:focus {
  border: 2px solid #68A2CA;
}

.tic:active {
  border: 2px solid #000000;
}

.grids {
  display: flex;
}

.card {
  fill: #000000;
}

.hostel-card-list {
  display: grid;
  width: 1060px;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  padding: 0;
  margin: 0 auto;
}

.hostel-card-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

}

.hostel-card-title {
  margin: 0;
  padding: 11px 20px 0;
  font-weight: 700;
  font-size: 24px;
}

.hostel-card-type {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  max-width: 140px;
  margin: 0;

}

.hostel-card-item {
  width: 340px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 436px;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 1060px;

}

.footer-post {
  background-image: url("../images/subscribe.jpg");
  width: 684px;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  text-align: center;
  padding: 96px 258px 104px;
  background-color: darkgray;
}

.footer-post-catalog {
  background-color: white;
  background-image: none;

}

.main-footer-post {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.main-footer-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: white;
}

.page-footer-container {
  width: 1060px;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
  height: 50px;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 161px;
  margin-right: -18px;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-social-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1px 10px;
  box-sizing: border-box;

}

.footer-social-button {
  fill: #83B3D3;
}


.footer-social-item:hover .hov {
  fill: #68A2CA;
}

.footer-social-item:focus .hov {
  fill: #68A2CA;
}

.footer-social-item:active .hov {
  fill: rgba(104, 162, 202, 0.3);
}

.htmlacademy {
  margin-left: auto;
  max-width: 190px;
}

.htmlacademy-svg {
  fill: black;
}

.htmlacademy-svg:hover {
  fill: #756157;
}

.htmlacademy-svg:focus {
  fill: #756157;
}

.htmlacademy-svg:active {
  fill: rgba(117, 97, 87, 0.3);
}



.catalog-footer-post {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.catalog-footer-description {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 20px 104.5px 54px;
}

.telephone {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  max-width: 720px;
  margin-left: auto;
}

.telephone:hover {
  color: #756157;
}

.telephone:focus {
  color: #756157;
}

.telephone:active {
  color: rgba(117, 97, 87, 0.3);
}

.button {
  font-family: "PT Sans", sans-serif;
  background: #756157;
  border: none;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  padding: 8px;
  width: 140px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
}

.want {
  width: 160px;

}

.button:hover {
  background: #615048;
}

.button:focus {
  background: #615048;
}

.button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.reset {
  background: none;
  width: 191px;
}

.reset:hover {
  background: none;
  color: rgba(255, 255, 255, 0.3);
}

.reset:focus{
  border: 3px solid #83B3D3;
  background: none;
  border-radius: 4px;
  padding: 5px;
}

.reset:active {
  background: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue {
  background: #82B3D3;
}

.button-blue:hover {
  background: #68A2CA;
}

.button-blue:focus {
  background: #68A2CA;
}

.button-blue:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.green {
  background: #7DB54F;
}

.green:hover {
  background: #6C9E42;
}

.green:focus {
  background: #6C9E42;
}

.green:active {
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  color: #333333;
  background: #E5E5E5;
  border-radius: 4px;
  font-weight: 400;
}

.rating:hover {
  background: #E5E5E5;
}

.rating:active {
  background: #E5E5E5;
  color: #333333;
}

.pagination {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 1060px;
  margin: 80px 70px 60px;
  align-items: flex-start;
  position: relative;
}

.pagination::before {
  position: absolute;
  content: "";
  width: 1060px;
  border: 1px solid #E6E6E6;
  Top: -40px;
  Left: -2px;
  background-color: #E6E6E6;
}

.pagination-item {
  width: 60px;
  height: 60px;
  margin-right: 8px;
  /*
  background: #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  display: flex;
  justify-content: center;*/
}

.pagination-item:hover,
.pagination-item:focus {
  background: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current:hover,
.pagination-current:focus {
  background: #F2F2F2;
}

.pagination-current:active {
  background: #F2F2F2;
}

.pagination-link {
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-right: 8px;
  display: flex;
  justify-content: center;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
  width: 60px;
}

.button-submit {
  background: #82B3D3;
  border-radius: 0px 4px 4px 0px;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  border: #82B3D3;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 232px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
}

.button-submit:hover {
  background: #68A2CA;
}

.button-submit:focus {
  background: #68A2CA;
}

.button-submit:active {
  background: #68A2CA;
  color: #FFFFFF;
  opacity: 0.3;
}

.catalog-products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 70px 54px;
  width: 1060px;
  flex-wrap: wrap;
  background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkgrey;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin-top: 40px;

}

.catalog-filter-group,
.right-buttoms {
  min-width: 151px;
  margin: 0;
  margin-right: 70px;
  border: none;
  padding: 0;
}

.catalog-filter-list {
  padding: 0;
  margin-top: 32px;

}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.catalog-filter-item {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 16px;

}

.catalog-filter-value {
  display: block;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 288px;
  margin-left: 67px;

}

.catalog-filter-list .catalog-filter-group {
  flex-wrap: wrap;
}


.value {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 30px;
}

.valueform {
  display: flex;
  margin: 0;
  padding: 0;
  width: 288px;
  position: relative;

}

.right-buttoms {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 auto;
  margin: 0 auto;
  width: 191px;
  min-height: 160px;
  gap: 32px;
}

.range-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px 22px;
  width: 98px;
  min-height: 22px;
  border-radius: 0 4px 4px 0;
  border: none;

}

.zero {
  border-radius: 4px 0px 0px 4px;
  border: none;
  margin-right: 2px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

}

.stars {
  background-image: url("../images/star.svg");
  background-repeat: space;
  background-size: contain;
  height: 17px;

}

.stars-4 {
  width: 89px;
}

.stars-3 {
  width: 65px;
}

.stars-2 {
  width: 42px;

}

.ptn-row {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  padding: 1px 19px;
  margin-top: 14px;
}

.rating-mini {
  margin-top: 6px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.new-form {
  display: flex;
  flex-direction: row;
  width: 684px;
  max-height: 52px;
  margin-top: 54px;
}

.field-one {
  padding: 12px 20px;
  flex-grow: 1;
  max-height: 52px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px 0px 0px 4px;

}

.field {
  background: #F2F2F2;
}

.sub {
  margin-top: 55px;
  width: 191px;
}

.label-max,
.label-min {
  position: relative;
}

.label-min::before {
  position: absolute;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: right;
  color: black;
  content: "от";
  top: 12px;
  left: 106px;
  width: 17px;
  height: 24px;
  opacity: 0.3;

}

.label-max:before {
  position: absolute;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: right;
  color: black;
  content: "до";
  top: 12px;
  left: 103px;
  width: 20px;
  height: 24px;
  opacity: 0.3;
}

.rangeline {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
  margin-top: 43px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: white;
  width: 226px;
}

.range-toggle {
  position: absolute;
  background: #FFFFFF;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  top: -8px;
  left: 0;

}

.toggle-max {
  top: -8px;
  left: 207px;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.hostel-card-image {
  padding: 19px 19px 0 19px;
}


.active {
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  Width: 18px;
  Height: 17px;
  padding: 0;
  gap: 6px;
  fill: #7DB54F;
}

.modal-container {
  display: none;
  position: fixed;
  background: rgba(242, 242, 242, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.modal {
  position: absolute;
  background-color: white;
  margin: auto;
  padding: 64px 70px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-search {
  width: 577px;
}

.modal-close-button {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 613px;
  top: 71px;
  background: #F2F2F2;
  border-radius: 50%;
  border: none;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background: #E6E6E6;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-close-button:focus {
  background: #E6E6E6;
  border: 3px solid #83B3D3;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-close-button:active {
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background: #E6E6E6;
  opacity: 0.3;
  border: none;
}

.modal-title {
  width: 413px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.modal-forms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-top: 41px;

}

.field-group {
  width: 577px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 48px;
  margin-top: 30px;

}

.come {
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  background-color: #F2F2F2;
}

.come::placeholder {
  opacity: 0.3;
}

.calendar {
  width: 20px;
  height: 20px;
  border: none;
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  cursor: pointer;
}

.wrapper-date-arrival {
  background-color: #F2F2F2;
  width: 441px;
  padding: 12px 20px;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.children {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 577px;
  height: 48px;
  margin-top: 23px;
}

.dates {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  flex-basis: 137px;
  width: 134px;
}

.incorrectdata {
  padding: 0px 20px;
  margin: 0;
  margin-left: 137px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
}

.freerooms {
  padding: 0px 20px;
  margin: 0;
  margin-left: 137px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.modal-send-button {
  display: flex;
  width: 577px;
  height: 60px;
  background: #83B3D3;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 48px;
}

.humans {
  width: 31px;
  height: 48px;
  background: #F2F2F2;
  border: none;
  margin: 0;
  padding: 0;
}

.humans::placeholder {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.field-human {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 48px;

}

.symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  background: #F2F2F2;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

.symbolleft {
  border-radius: 4px 0px 0px 4px;
}

.minus,
.plus {
  fill: rgba(117, 97, 87, 0.3);

}

.symbol:hover .plus,
.symbol:hover .minus {
  fill: black;
}

.symbol:focus .plus,
.symbol:focus .minus {
  border: 3px solid #82B3D3;
  border-radius: 4px;
  fill: black;
}

.symbol:active .plus,
.symbol:active .minus {
  opacity: 0.2;
}

.child {
  position: relative;
}

.tooltip-toggle {
  width: 26px;
  height: 26px;
  left: 62px;
  top: 0;
  background: #83B3D3;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip {
  position: absolute;
  left: 62px;
  top: 3px;
}

.tooltip-text {
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
  width: 216px;
  height: 110px;
  left: -130px;
  top: 41px;
  padding: 15px 18px 22px;
  position: absolute;
  display: none;
}

.tooltip-text::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 9.5px solid transparent;
  border-right: 9.5px solid transparent;
  border-bottom: 9px solid #333333;
  position: absolute;
  bottom: 100%;
  right: 112px;
}

span.tooltip:hover .tooltip-text {
  display: block;
}
